---
---

@media print {
  @page {
    size: A4;
    margin: cm 1cm;
  }

  body {
    display: flex;
  }

  .about {
    font-size: 14px; /* Smaller font size for the main content */
  }

  .sidebar h1 {
    font-size: 30px; /* Reduce the font size of the sidebar h1 */
    margin-bottom: 10px; /* Add spacing below the h1 */
  }
  
  .content {
    padding-top: 1rem;
  }

  .sidebar {
    color: black; /* Ensure h3 labels are printed in white */
  }
  
  .sidebar p {
    font-size: 20px; /* Reduce the font size of the sidebar h1 */
    margin-bottom: 10px; /* Add spacing below the h1 */
  }

  .contact-info {
    display: flex; /* Ensure the contact-info section is visible */
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 16px;
  }


  .tecnologies-info {
    display: flex; /* Ensure the contact-info section is visible */
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .tecnologies-info p{
    font-size: 18px;
  }

  .about-content em{
    padding-top: 10rem;
  }

  p {
    page-break-inside: avoid;
  }

  .about-content hr,
  .print-button,
  .sidebar-nav, 
  .sidebar-icons {
    display: none;
  }
}