---
---

@media print {
  @page {
    size: A4;
    margin: cm 1cm;
  }

  body {
    display: flex;
  }

  .page {
    font-size: 14px; /* Smaller font size for the main content */
  }

  .sidebar h1 {
    font-size: 30px; /* Reduce the font size of the sidebar h1 */
    margin-bottom: 10px; /* Add spacing below the h1 */
  }
  .content {
    padding-top: 1rem;
  }

  .sidebar {
    color: black; /* Ensure h3 labels are printed in white */
  }
  
  .sidebar p {
    font-size: 20px; /* Reduce the font size of the sidebar h1 */
    margin-bottom: 10px; /* Add spacing below the h1 */
  }

  .contact-info {
    display: flex; /* Ensure the contact-info section is visible */
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .contact-info a {
    font-size: 16px; /* Remove default margin */
  }

  .print-button,
  .sidebar-nav, 
  .sidebar-icons {
    display: none;
  }
}