---
---

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css") print;

@media print {
  @page {
    size: A4;
    margin: 0cm;
    margin-top: 0m;
    margin-right: 0.5cm;
  }

  body {
    display: flex;
    flex-direction: row;
  }

  .main-content {
    // width: 70%; /* Adjust the width of the main content */
    // padding-left: 10px; /* Add spacing between the main content and the sidebar */
    font-size: 1px; /* Smaller font size for the main content */
  }

  .sidebar {
    width: 30%; /* Adjust the width of the sidebar for the left column */
    padding-right: 5px; /* Add spacing between the sidebar and the main content */
    border-right: 1px solid #ccc; /* Optional: Add a border to separate the sidebar */
    background-color: #202020; /* Set the background color of the sidebar to blue */
    color: #ccc; /* Ensure text is readable on the blue background */
    -webkit-print-color-adjust: exact; /* Force the browser to print the background color */
    print-color-adjust: exact; /* Standard property for other browsers */
  }

  .sidebar h1 {
    font-size: 30px; /* Reduce the font size of the sidebar h1 */
    margin-bottom: 10px; /* Add spacing below the h1 */
  }

  .sidebar h4 {
    color: #ccc; /* Ensure h3 labels are printed in white */
  }
  
  .sidebar p {
    font-size: 20px; /* Reduce the font size of the sidebar h1 */
    margin-bottom: 10px; /* Add spacing below the h1 */
  }

  .contact-info {
    display: block; /* Ensure the contact-info section is visible */
    margin-top: 20px; /* Add spacing from the title */
    font-size: 14px; /* Adjust font size for print */
  }

  .contact-info a {
    font-size: 16px; /* Remove default margin */
  }

  .print-button {
    display: none !important; /* Hide print buttons */
  }

  .sidebar-nav {
    display: none !important;
  }
  .sidebar-icons {
    display: none !important;
  }
}